{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Vehicle List</h1>
    <p><a href="{% url 'vehicle_add' %}">Add New Vehicle</a></p>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Vehicle Number</th>
                <th>Vehicle Type</th>
                <th>Avg Speed (km/h)</th>
                <th>Cost</th>
                <th>Commission Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in page_obj %}
            <tr>
                <td>{{ vehicle.vehicle_number }}</td>
                <td>{{ vehicle.get_vehicle_type_display }}</td>
                <td>{{ vehicle.avg_speed_per_hour }}</td>
                <td>{{ vehicle.cost }}</td>
                <td>{{ vehicle.commission_date }}</td>
                <td>{{ vehicle.status }}</td>
                <td>
                    <a href="{% url 'vehicle_update' vehicle.vehicle_number %}">Edit</a>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
